<div style="padding: 5px;">
    <h1 mat-dialog-title class="dialog-header" >Contribution Interest</h1>

    <div class="container" *ngIf="submitted ==true">
        <h1 mat-dialog-title > Thank you for your support.</h1>
        <!-- <h3>Hello   {{data.name}}, <br>

            Thank you for logging your request for COVID-19 masks for the community you are serving. We truly appreciate your service. We will look out for volunteers who can fulfill your request and update you.
            <br> Your Request Id : {{data.id}} <br>
            Best Regards,</h3> -->
    </div>
</div>
<div style="padding: 5px;" *ngIf="submitted ==false">
    <form [formGroup]="contributeForm" (submit)="submit()" mat-dialog-content>
        <div class="row register-form">
            <div class="col-md-12">
                    <div class="form-group" style="width: 100%;">
                        <!-- <input type="text" class="form-control" placeholder="First Name *" value="" /> -->
                        <mat-form-field class="form-field" appearance="fill" style="padding: 0;">
                        <mat-label> Full Name
                        </mat-label>
                        <input matInput formControlName="fullName" required>
                        <mat-error
                            *ngIf="contributeForm.controls.fullName.touched && contributeForm.controls.fullName.invalid">
                            <span *ngIf="contributeForm.controls.fullName.errors.required">This field is mandatory.</span>
                            <span *ngIf="contributeForm.controls.fullName.errors.pattern">This field is invalid.</span>
                        </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <mat-form-field class="form-field" appearance="fill">
                        <mat-label> Email
                        </mat-label>
                        <input matInput formControlName="email" required>
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <mat-form-field class="form-field" appearance="fill">
                        <mat-label> Phone number
                        </mat-label>
                        <input matInput formControlName="phoneNumber" type="number">
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <mat-form-field class="form-field" appearance="fill">
                        <mat-label> Contributions
                        </mat-label>
                        <textarea matInput formControlName="comments"
                        matTooltip="Please enter the details on how you would like to contribute for this requirement."></textarea>
                        </mat-form-field>
                    </div>
            </div>
        </div>
        <div class="col-md-6" >
            <button class="submit-button" mat-raised-button type="submit">Submit</button>
        </div>
    </form>


</div>
