<div style="padding: 5px;">
    <h1 mat-dialog-title class="dialog-header">Request Details</h1>
    <div class="container">
        <div class="row">
            <div class="col">
                Name:
            </div>
            <div class="col">
                {{data.name}}
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="row">
            <div class="col">
                Email:
            </div>
            <div class="col">
                {{data.email}}
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="row">
            <div class="col">
                Phone:
            </div>
            <div class="col">
                {{data.phone}}
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="row">
            <div class="col">
                Samithi:
            </div>
            <div class="col">
                {{data.samithi}}
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="row">
            <div class="col">
                Address:
            </div>
            <div class="col">
                {{data.address}}
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="row">
            <div class="col">
                City:
            </div>
            <div class="col">
                {{data.city}}
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="row">
            <div class="col">
                State:
            </div>
            <div class="col">
                {{data.state}}
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="row">
            <div class="col">
                Quantity:
            </div>
            <div class="col">
                {{data.quantity}}
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="row">
            <div class="col">
                Comments:
            </div>
            <div class="col">
                {{data.comments}}
            </div>
        </div>
        <mat-divider></mat-divider>

    </div>
    <br>
    <div *ngIf="data.shipping">
        <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Shipping Details
                </mat-panel-title>

              </mat-expansion-panel-header>
          
              <div class="container">
                <div class="row">
                    <div class="col">
                        Docket Number:
                    </div>
                    <div class="col">
                        {{data.shipping.docketnumber}}
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div class="row">
                    <div class="col">
                        Status:
                    </div>
                    <div class="col">
                        {{data.shipping.status}}
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div class="row" *ngIf="data.shipping.courier">
                    <div class="col">
                        Courier Contact:
                    </div>
                    <div class="col">
                        {{data.shipping.courier.contact}}
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div class="row" *ngIf="data.shipping.courier">
                    <div class="col">
                        Company:
                    </div>
                    <div class="col">
                        {{data.shipping.courier.company}}
                    </div>
                </div>
                <mat-divider></mat-divider>
            </div>
          
            </mat-expansion-panel>
        </mat-accordion>
        
    </div>

</div>