.example-spacer {
    flex: 1 1 auto;
  }

::ng-deep  .mat-toolbar.mat-primary {
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}

::ng-deep mat-sidenav-content {
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .toolbar-container {
        display: none;
    }
}